.logoContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* no escala extra, usamos width fijo */
  z-index: 9999;
  transition: all 1.5s ease-in-out;
}

.logoContainer.corner {
  top: 0px;     
  left: 0px;
  transform: translate(0, 0); /* ya no usamos scale */
}

.logo {
  width: 400px;   /* tama침o inicial grande */
  height: auto;
  transition: width 1.5s ease-in-out; /* animaci칩n del tama침o */
}

.logoContainer.corner .logo {
  width: 150px;   /* tama침o final en la esquina */
}
