/* Aseguramos que el contenedor ocupe toda la pantalla */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;    /* Ancho completo de la ventana */
  height: 100vh;   /* Alto completo de la ventana */
  background-color: black; 
  position: fixed; /* Fijamos el loader para que esté sobre el contenido */
  top: 0;
  left: 0;
  z-index: 10000; /* Aseguramos que el loader esté sobre el contenido */
}

/* Estilos del video */
.video {
  max-width: 300px;  /* Tamaño máximo del video similar a un logo */
  width: 100%;       /* El video ocupará hasta el 100% de su contenedor */
  height: auto;      /* La altura se ajustará para mantener la relación de aspecto */
  object-fit: contain; /* El video mantendrá su relación de aspecto sin distorsionarse */
  position: absolute; /* Posicionamos el video sobre el contenedor */
  top: 50%;           /* Centrado verticalmente */
  left: 50%;          /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Realiza el ajuste final para centrar */
  z-index: -1;        /* Aseguramos que el video quede detrás del logo */
}
