/* Home.module.css */

/* Contenedor principal para la página */
.homeContainer {
  position: relative;  
  width: 100%;
  min-height: 100vh;
}

/* Botón flotante de WhatsApp */
.wafloat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 999;
  border-radius: 50%;
  background-color: #25D366; /* Color verde de WhatsApp */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.wafloat img {
  width: 100%;
  height: auto;
}

/* Efecto al pasar el ratón */
.wafloat:hover {
  transform: scale(1.1);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {

  /* Ajustes para el tamaño del botón de WhatsApp */
  .wafloat {
    width: 50px;
    height: 50px;
  }
}

/* Ajustes para pantallas grandes */
@media (min-width: 769px) {

  /* Ajustes para el tamaño del botón de WhatsApp */
  .wafloat {
    width: 60px;
    height: 60px;
  }
}
