/* Home.module.css */

/* Contenedor principal para la p谩gina */
.homeContainer {
  position: relative;  
  width: 100%;
  min-height: 100vh;
    display: flex;        /*  CLAVE */
  flex-direction: column; /*  CLAVE */
  
}

/* Bot贸n flotante de WhatsApp */
.wafloat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 999;
  border-radius: 50%;
background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.wafloat img {
  width: 100%;
  height: auto;
}

/* Efecto al pasar el rat贸n */
.wafloat:hover {
  transform: scale(1.1);
}

/* Ajustes para pantallas peque帽as */
@media (max-width: 768px) {

  /* Ajustes para el tama帽o del bot贸n de WhatsApp */
  .wafloat {
    width: 60px;
    height: 60px;
  }
}

/* Ajustes para pantallas grandes */
@media (min-width: 769px) {

  /* Ajustes para el tama帽o del bot贸n de WhatsApp */
  .wafloat {
    width: 70px;
    height: 70px;
  }
}
