/* VideoBackground.module.css */

/* Contenedor para el video, que ocupará toda la pantalla */
.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Hace que el video esté al fondo */
}

/* Estilo para el video, que se ajustará a toda la pantalla */
.videoBackground {
  object-fit: contain; /* Asegura que el video se vea completo sin recortes */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; /* Siempre en la parte superior */
  left: 0;
  object-position: left top; /* Alinea el video al lado izquierdo y lo mantiene en la parte superior */
}

/* Ajustes para pantallas móviles y tablets */
@media (max-width: 768px) {
  .videoBackground {
    object-fit: contain; /* Asegura que el video se vea completo */
    object-position: left top; /* Mantiene el enfoque en la parte superior izquierda */
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
    max-width: 100%; /* Asegura que el video no se salga de la pantalla */
    max-height: 100%; /* Asegura que el video no se pase de la altura de la pantalla */
    top: 0; /* Siempre en la parte superior */
  }
}

/* Ajustes para pantallas grandes o dispositivos con pantallas más anchas */
@media (min-width: 769px) {
  .videoBackground {
    object-fit: contain; /* Asegura que el video se vea completo */
    object-position: left top; /* Mantiene el enfoque en la parte superior izquierda */
    width: 100%; /* Ajusta el video al 100% de la pantalla */
    height: 100%; /* Ajusta la altura al 100% */
    top: 0; /* Siempre en la parte superior */
  }
}
