/* VideoBackground.module.css */
.videoContainer {
  position: absolute;
  width: 100%;
  height: 90vh; /* Ocupa el 90% de la pantalla, ajusta según tus necesidades */
  z-index: -1; /* Coloca el video detrás del contenido */
  overflow: hidden; /* Asegura que no se vean áreas fuera del contenedor */
}

.video {
  object-fit: cover;  /* Hace que el video cubra todo el área del contenedor sin distorsionarse */
  object-position: left;  /* Siempre enfoca el lado izquierdo del video */
  width: 100%;
  height: 100%;
}
